/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Sep-2016, 11:07:21
    Author     : Ivan
*/

p {
   color:blue;
}

table {
   border: 1px solid black;
   border-collapse: collapse;
   border-color: #4CAF50;
}

body
{
background-color: #F0F8FF;
margin-left: 10px;
}

h1 {
    color: red;
} 